# List & Loop Comparisons

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip()

In [1]:
# for keyword, counter, in keyword, condition

name = "Thomas Morris"

for letter in name:
    print(letter)

for i in range(len(name)):
    print(name[i])
    
for i in range(len(name)):
    print(name[i])

T
h
o
m
a
s

M
o
r
r
i
s
T
h
o
m
a
s

M
o
r
r
i
s
T
h
o
m
a
s

M
o
r
r
i
s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [3]:
# will continue to the next iteration
for i in range(10):
    if i ==5 or i == 9:
        continue
    print(i)

0
1
2
3
4
6
7
8

##### Break Statement

In [ ]:
# will break out of current loop
for i in range(10):
    if i == 5:
        break
        print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(10):
    pass # TODO: Come back and put something here!!

##### Double For Loops

In [5]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [10]:
# while keyowrd, conditional statement
#loops until the condition is met

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### looping 'While True'

In [8]:
game_over = False # This is called a flag

while True:
    print('Infinite Loop')
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [11]:
num = 0

while num < 5:
    print("\n while Loop iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration" + str(i))
        
        num += 1

 while Loop iteration: 0
For Loop Iteration0
For Loop Iteration1

 while Loop iteration: 2
For Loop Iteration0
For Loop Iteration1

 while Loop iteration: 4
For Loop Iteration0
For Loop Iteration1

##### The Range Function

In [9]:
#start, stop step
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

### String Manipulation Exercise

In [30]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
new_names = []
for name in names:
    name = name.title().strip()
    new_names.append(name)
print(new_names)

['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [12]:
l_1 = [] # Empty list Declaration

names = ["Alex", "Yesenia", "2chainz", "Jol", "Alpha Ryan",1,2,3,4,5.0]
print(names)

['Alex', 'Yesenia', '2chainz', 'Jol', 'Alpha Ryan']

##### Indexing a List and Slicing

In [19]:
#Single Index
print(names[2])

#SLICING - list_name[start:stop:step] -- [-1]

#Print Starting at index 1 and going to the end
print(names[1:])

# Print starting at the beginning
print(names[:2])

# print starting at index 1 going to the end by 2
print(names[1::2])

#print in reverse order
print(names[::-1])

#print a full slice of the list

2chainz
['Yesenia', '2chainz', 'Jol', 'Alpha Ryan']
['Alex', 'Yesenia']
['Yesenia', 'Jol']
['Alpha Ryan', 'Jol', '2chainz', 'Yesenia', 'Alex']

### List Methods

##### .append()

In [44]:
names.append("Thomas")
print(names)

['    coNNor', ' EVan ', 'elmo', 'Thomas']

##### .insert()

In [43]:
#list_name.insert(index, value)

names.insert(3,"elmo")
print(names)

['    coNNor', ' EVan ', 'elmo']

##### .pop()

In [32]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 

my_name = names.pop()
print(my_name)
print(names)

print(names.pop(3))

JORDAN
['    coNNor', 'max', ' EVan ', 'elmo']

##### .remove()

In [33]:
# value to be removed, not an index

names.append("elmo")
names.insert(0,"elmo")
print(names)

while "elmo" in names:
    names.remove("elmo")
print(names)

['elmo', '    coNNor', 'max', ' EVan ', 'elmo', 'elmo']
['    coNNor', 'max', ' EVan ']

### Working With Lists

##### del()

In [34]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[1])
print(names)

['    coNNor', ' EVan ']

##### min()

In [35]:
numbers = [4,7,39,1,12,8]
print(min(numbers))

1

##### max()

In [36]:
print(max(numbers))

39

##### sum()

In [38]:
print(sum(numbers))

71

##### sorted()

In [40]:
#The sorted function does not alter the original lists... It returns a new sorted version of it

sorted_nums = sorted(numbers)
print(f"regular numbers: {numbers}")
print(f"sorted numbers: {sorted_nums}")

regular numbers: [4, 7, 39, 1, 12, 8]
sorted numbers: [1, 4, 7, 8, 12, 39]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [41]:
print(f"before sort: {numbers}")
print(numbers.sort())
print(numbers)

before sort: [4, 7, 39, 1, 12, 8]
None
[1, 4, 7, 8, 12, 39]

##### Copying a List

In [2]:
# [:] copies a list, doesn't alter original'
list1 = numbers[:]
list2 = numbers.copy()
print(list1, list2)

##### Looping Through Lists

In [42]:
#Three ways to loop through a list
#1 -- by index
#2 -- by using "in" keyword
#3 -- both one and two

#loop with index
for i in range(len(names)):
    print(names[i])
    
# Loop with "in" keyword
for name in names:
    print(name)
    
# Loop with 'enumerate' to get both the index and the value
for index, value in enumerate(names):
    print(f"The index is: {index}, and the value is {value}")

    coNNor
 EVan
    coNNor
 EVan
The index is: 0, and the value is     coNNor
The index is: 1, and the value is  EVan

##### 'in' keyword

In [45]:
ct_teachers = ['Joel', 'Derek', 'Sam', 'Devon']

if "Sam" in ct_teachers:
    print("Coding Temple Instructor")
else:
    print("No Instructor with the name")

Coding Temple Instructor

##### 'not in' keyword

In [ ]:
if "Billy" not in ct_teachers:
    print("Billy is not one of us.")

##### Checking an Empty List

In [47]:
# if list_name: 

l_2 = []

if l_2 == []:
    print("empty")
    
if l_2:
    print("something on the list")
else:
    print("Thats still empty")

empty
Thats still empty

##### Removing Instances with a Loop

In [48]:
names.append("Alex")

for name in names:
    if name == "Alex":
        names.remove("Alex")
print(names)

['    coNNor', ' EVan ', 'elmo', 'Thomas']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [49]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [52]:
# number comprehension

nums=[]
for i in range(100):
    nums.append(i)
print(nums)

print('\n')
nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [53]:
#Squared number comprehension
squares = [x**2 for x in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
#string comprehension

names = ["Zach", "Billy", "Trini", "Jason", "Tommy"]

first_char_comp = [name[0] for name in names]

print(first_char_comp)

['Z', 'B', 'T', 'J', 'T']

In [59]:
names_ending_in_y = {name for name in names if name[-1] == 'y'}

print(names_ending_in_y)

{'Tommy', 'Billy'}

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
tup_1 = 1,2,3 #first tupple creation
tup_2 = (2,3,4) #another way to create tuple

print(type(tup_1))
print(type(tup_2))

print(tup_1[0])

print(len(tup_2))

print

##### sorted()

##### Adding values to a Tuple

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [61]:
alist = [1,11,14,5,8,9]

filtered_list = [num for num in alist if num < 10]

print(filtered_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [74]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

sorta_merged = sorted(l_1 + l_2)

print(sorta_merged)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]